{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <h2>Log in now</h2>
    <p>Enter your username and password to start using Rchat</p>
    <form action="{{ url_for('login')}}" method="POST">

        {{ displayField(form.username, 'username', autocomplete='off', autofocus=true) }}
        {{ displayField(form.password, 'Password') }}


        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}
